In [50]:
import pandas as pd
from LoadData import LoadData
import numpy as np
import yfinance as yf
import datetime

In [51]:
stock_name = "^GSPC"
date_predict_start = '2020-01-01'
data_range = 10
slide_range = 10
n_slide = 5
dataloader = LoadData(n_slide, data_range)
train_data, test_data =\
    dataloader.load_and_split_data(stock_name, date_predict_start, data_range, slide_range, n_slide)

100%|██████████| 5/5 [00:00<00:00, 3992.29it/s]

In [52]:
all_data = yf.Ticker(stock_name).history(period='max')
all_data.index = all_data.index.date

In [53]:
all_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
1927-12-30,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1928-01-03,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0
1928-01-04,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0
1928-01-05,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0
1928-01-06,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
...,...,...,...,...,...,...,...
2023-05-10,4143.740234,4154.279785,4098.919922,4137.640137,4057160000,0.0,0.0
2023-05-11,4132.240234,4132.799805,4109.290039,4130.620117,3752900000,0.0,0.0
2023-05-12,4138.540039,4143.740234,4099.120117,4124.080078,3533740000,0.0,0.0
2023-05-15,4126.649902,4141.250000,4110.270020,4136.279785,3562170000,0.0,0.0
2023-05-16,4127.950195,4135.540039,4109.859863,4109.899902,3654200000,0.0,0.0

In [ ]:
def find_data_pv_function(data, pv_range):
    output = np.zeros_like(data)
    for i in data:
        for idx in range(0, len(data[i])):
            if idx < pv_range:
                if price[idx] == price.iloc[0:pv_range*2+1].max():
                    data[i]['peaks'].iloc[idx] = price[idx]
                    data[i]['pv'].iloc[idx] = 'peak'
                if price[idx] == price.iloc[0:pv_range*2+1].min():
                    data[i]['valleys'].iloc[idx] = price[idx]
                    data[i]['pv'].iloc[idx] = 'valley'
            if price[idx] == price.iloc[idx-pv_range:idx+pv_range].max():
                data[i]['peaks'].iloc[idx] = price[idx]
                data[i]['pv'].iloc[idx] = 'peak'
            if price[idx] == price.iloc[idx-pv_range:idx+pv_range].min():
                data[i]['valleys'].iloc[idx] = price[idx]
                data[i]['pv'].iloc[idx] = 'valley'

In [ ]:
pv_range=7
find_data_pv_function(train_data, pv_range)

IndexError: arrays used as indices must be of integer (or boolean) type

In [ ]:
output = np.zeros_like(train_data)
output.shape

(5, 10)