In [1]:
import pandas as pd
from LoadData import LoadData
import numpy as np
import yfinance as yf
import datetime

In [2]:
stock_name = "^GSPC"
date_predict_start = '2020-01-01'
data_range = 10
slide_range = 10
n_slide = 5
dataloader = LoadData(n_slide, data_range)
train_data, test_data =\
    dataloader.load_and_split_data(stock_name, date_predict_start, data_range, slide_range, n_slide)

100%|██████████| 5/5 [00:00<?, ?it/s]

In [3]:
all_data = yf.Ticker(stock_name).history(period='max')
all_data.index = all_data.index.date

In [4]:
all_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
1927-12-30,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1928-01-03,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0
1928-01-04,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0
1928-01-05,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0
1928-01-06,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
...,...,...,...,...,...,...,...
2023-05-10,4143.740234,4154.279785,4098.919922,4137.640137,4057160000,0.0,0.0
2023-05-11,4132.240234,4132.799805,4109.290039,4130.620117,3752900000,0.0,0.0
2023-05-12,4138.540039,4143.740234,4099.120117,4124.080078,3533740000,0.0,0.0
2023-05-15,4126.649902,4141.250000,4110.270020,4136.279785,3562170000,0.0,0.0
2023-05-16,4127.950195,4135.540039,4109.859863,4109.899902,3654200000,0.0,0.0

In [8]:
train_data.shape[0]

5

In [11]:
def find_data_pv_function(data, pv_range):
    output = np.zeros_like(data)
    for col in range(0, data.shape[0]):
        for row in range(0, data.shape[1]):
            print(data[col, row])
            if row < pv_range:
                if price[row] == price.iloc[0:pv_range*2+1].max():
                    data[i]['peaks'].iloc[row] = price[row]
                    data[i]['pv'].iloc[row] = 'peak'
                if price[row] == price.iloc[0:pv_range*2+1].min():
                    data[i]['valleys'].iloc[row] = price[row]
                    data[i]['pv'].iloc[row] = 'valley'
            if price[row] == price.iloc[row-pv_range:row+pv_range].max():
                data[i]['peaks'].iloc[row] = price[row]
                data[i]['pv'].iloc[row] = 'peak'
            if price[row] == price.iloc[row-pv_range:row+pv_range].min():
                data[i]['valleys'].iloc[row] = price[row]
                data[i]['pv'].iloc[row] = 'valley'

In [12]:
pv_range=7
find_data_pv_function(train_data, pv_range)

3192.52001953125
3191.139892578125
3205.3701171875
3221.219970703125
3224.010009765625
3223.3798828125
3239.909912109375
3240.02001953125
3221.2900390625
3230.780029296875
3257.85009765625
3234.85009765625
3246.280029296875
3237.179931640625
3253.050048828125
3274.699951171875
3265.35009765625
3288.1298828125
3283.14990234375
3289.2900390625
3316.81005859375
3329.6201171875
3320.7900390625
3321.75
3325.5400390625
3295.469970703125
3243.6298828125
3276.239990234375
3273.39990234375
3283.659912109375
3225.52001953125
3248.919921875
3297.590087890625
3334.68994140625
3345.780029296875
3327.7099609375
3352.090087890625
3357.75
3379.449951171875
3373.93994140625
3380.159912109375
3370.2900390625
3386.14990234375
3373.22998046875
3337.75
3225.889892578125
3128.2099609375
3116.389892578125
2978.760009765625
2954.219970703125

In [13]:
output = np.zeros_like(train_data)
output.shape

(5, 10)